body {
  background-color: rgba(27, 27, 27);
}

.letter-block {
  position: relative;
  width: 100vw;
  height: 20vh;
  top: 40vh;
}

.letter {
   font-size: 1.4rem;
   font-weight: 600;
   position: absolute;
   color: #fff;
}

.letter[data-custom=true] {
   z-index: 1;
}